/* menu */
.menu {
  /*background-color: #101D2C;*/
  background-color: #72452f;
}
.shop-info i {
  color: #c69963;
  font-size: 50px;
}
.shop-info h1 {
  font-family: "Teko", sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}
.shop-info p,
.shop-info address {
  color: rgba(255, 255, 255, 0.5);
}
hr {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
/*
.point-right,
.point-left {
    position: relative;
    background-color: #fff;
    display: flex;
}
.point-left::before,
.point-right::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: inherit;
    top: -12px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    z-index:2;
}
*/
.menu-item-desc {
  color: #212529;
  padding: 50px 10px;
  margin: auto;
}
.menu-item-desc h6 {
  color: #c69963;
  font-size: 20px;
}
.menu-item-desc h1 {
  color: #101d2c;
  font-size: 30px;
  letter-spacing: 10px;
  font-family: "Teko", sans-serif;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /*.point-right::before,
    .point-left::before{
        display: block;
        top: 50%;
        left: initial;
        transform: translate(0, -50%) rotate(45deg);
    }
    .point-left::before{
        left: -12px;
    }
    .point-right::before{
        right: -12px;
    } 
    .menu-item-desc p{
        display: none;
    }*/
  .menu-item-desc .btn {
    color: #fff !important;
    background-color: #c69963;
  }
}
