/* Start What You Can Do */
.what-you-can-do {
  position: relative;
  background-color: white;
  margin: 0;
  z-index: 3;
}

.what-you-can-do h2 {
  padding-top: 28px;
  color: black;
  margin: 0px;
}

.what-you-can-do .column .what-you-can-do-subtitle {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.what-you-can-do .column .what-you-can-do-text {
  font-size: 25px;
  color: black;
}

.what-you-can-do .row {
  text-align: center;
  font-size: 46px;
  color: black;
  padding-bottom: 40px;
}

.what-you-can-do .row .column {
  display: block;
  padding-top: 30px;
  margin: 0;
}

.what-you-can-do .row .column span {
  display: block;
  padding: 0 30px;
  margin: 0;
}
/* End What You Can Do */
